<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>About</title>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}
    <h2>Articles</h2>
    {% for article in articles %}
    <div class="article">
        <p>
        <h3>{{ article.title}}</h3>
        <br>
        <b>Article ID:</b> {{ article.article_id}}
        <br>
        <b>Author:</b> {{ article.author}}
        <br>
        <b>Description:</b> {{ article.description}}
        <br>
        <b>Content:</b> {{ article.content}}
        <br>
        <b>URL:</b> <a href="{{ article.url}}" target="_blank" rel="noopener noreferrer">{{ article.url}}</a>
        <br>
        <b>Track URL:</b> <a href="/static/tracking/{{ article.article_id }}" target="_blank" rel="noopener noreferrer">/static/tracking/{{ article.article_id}}</a>
        <br>
        <b>Published At:</b> {{ article.publishedAt}}
        <br>
        <img src="{{ article.urlToImage}}" style="float:bottom;max-width:300px;width:100%">
        </p>
    </div>
    {% endfor %}
    {% endblock %}
</body>

</html>